@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}
.container-principal{
    display: grid;
    grid-template-columns: 20% 1fr;
}
.columna1{
    display: grid;
    gap: 30%;
    place-items: center;
    color: #fff;
}
.item1{
    display: grid;
    gap: 20%;
    color: #fff;
}
.item1 h2{
    height: 3rem;
    background-color: #7D7F7D;
    font-size: xx-large;
    cursor: pointer;
    text-align: center;
    border-radius: 5%;
}
.columna1 h2{
    height: 3rem;
    background-color: #7D7F7D;
    font-size: xx-large;
    cursor: pointer;
}
.columna2{
    display: grid;
    margin: 7%;
    gap: 3rem;
    background-color: #fff;
    border: 0.8rem solid #7D7F7D;
}
.columna2 h2{
    background-color: #fff;
}
.catalogo{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 3%;
    background-color: #fff;
}
.productos{
    width: 100%;
    height: auto;
    background-color: #fff;
}
.productos img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.informacion h3{
    background-color: #fff;
}
.informacion a{
    color: #fff;
    background-color: #000;
    border-radius: 10%;
    cursor: pointer;
}
